header {
    background-color: white;
    padding: 20px 0;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            display: block;
            width: 70px;
        }

        ul {
            display: flex;
            gap: 20px;
            font-weight: bold;
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }
}